body, html {
	height: 100%;
	margin: 0;
}

body {
	background: #66CC99;
}

a {
	text-decoration: none;
}

header {
	margin-bottom: 50px;
	padding: 10px;
	background: #fff;
	overflow: hidden;
}

.logo-top {
	height: 17px;
	width: 119px;
	background: url(../images/logo-top.png);
	background-size: contain;
	display: inline-block;
	position: relative;
	top: 5px;
	float: left;
}

.contact {
	float: right;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.content {
	width: 70%;
	background: white;
	border-radius: 3px;
	padding: 30px 30px 0;
}

.signup-container	{
	width: calc(1160px - 70%);
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 3px;
}

.signup-form {
	width: 100%;
	padding: 30px;
	background: white;
}

form, input[type=submit] {
	margin-bottom: 0;
}

/**
 * CONTENT
 */
h1 {
	font-size: 48px;
	text-align: center;
	margin: 20px auto 40px;
	font-weight: 400;
	color: #131516;
}

p {
	opacity: 1;
	color: #373d3f;
	margin-bottom: 40px;
}

.main-image, .features-image {
	height: 200px;
	margin-bottom: 30px;
}

.main-image img, .features-image img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

hr {
	height: 1px;
	width: 25%;
	border: 0;
	background: #A2DED0;
	opacity: 0.7;
	margin: 0 auto 40px;
}

h3 {
	font-size: 22px;
	letter-spacing: 0;
	font-weight: 500;
	margin-bottom: 20px;
}

footer {
	height: 50px;
	margin-top: 50px;
}

.mobile-only {
	margin-bottom: 40px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 320px) {
	.container {
		max-width: 100%;
	}

	.content {
		width: 100%;
	}

	.signup-container {
		display: none;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.signup-container {
		display: block;
	}

	.content {
		width: 70%;
	}

	.mobile-only {
		display: none;
	}
}
